<template>
  <div class="home">
    <chat-panel
      :logs="logs"
      class="chat-panel"
      :style="panelStyle"
    ></chat-panel>
    <div class="chat-input has-background-grey-lighter" id="chat-input">
      <div class="field">
        <b-input
          v-model="inputMessage"
          size="is-small"
          type="textarea"
          rows="2"
          @keydown.enter.native="postMessage"
        ></b-input>
      </div>
      <div class="field has-text-right">
        <button class="button is-primary is-small" @click="postMessage">
          チャット
        </button>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import ChatPanel from "@/components/ChatPanel";
import axios from "axios";
import moment from "moment";
import io from "socket.io-client";

export default {
  name: "home",
  components: {
    ChatPanel
  },
  data() {
    const api = axios.create({
      baseURL:
        process.env.NODE_ENV === "production"
          ? "/api/v1/"
          : "//localhost:8888/api/v1/"
    });

    return {
      axios: api,
      logs: [],
      inputMessage: "",
      panelStyle: { height: "100%" },
      socket: null
    };
  },
  mounted() {
    const self = this;
    this.axios.interceptors.response.use(
      response => {
        if (response.status === 201) {
          self.axios.defaults.headers.common["x-extension-token"] =
            response.data;
          response.config.headers["x-extension-token"] = response.data;
          return axios.request(response.config);
        }
        return response;
      },
      error => {
        return Promise.reject(error);
      }
    );
    window.Twitch.ext.onAuthorized(auth => {
      self.axios.defaults.headers.common["x-extension-token"] = auth.token;

      self.axios.get("/messages").then(response => {
        response.data.forEach(value => {
          self.pushLog(
            value["name"],
            value["display_name"],
            value["role"],
            value["message"],
            value["posted"]
          );
        });
      });
    });

    const input = document.getElementById("chat-input");
    this.panelStyle.height = `calc(100% - ${input.clientHeight}px)`;

    this.socket =
      process.env.NODE_ENV === "production" ? io() : io("//localhost:8888");
    this.socket.on("message", data => {
      this.pushLog(
        data["name"],
        data["display_name"],
        data["role"],
        data["message"],
        data["posted"]
      );
    });
  },
  methods: {
    postMessage(event) {
      event.stopPropagation();
      event.preventDefault();
      event.returnValue = false;
      const message = this.inputMessage.trim();
      if (message) {
        this.axios.post("/messages", {
          message
        });
      }
      this.inputMessage = "";
    },
    pushLog(name, displayname, role, message, posted) {
      let username = displayname;

      if (name !== displayname) {
        username = `${displayname} (${name})`;
      }

      let icon = null;
      switch (role) {
        case "broadcaster":
          icon = "💎";
          break;
        case "moderator":
          icon = "⭐";
          break;
      }

      const postedTime = moment(posted).format("HH:mm:ss");

      this.logs.push({
        username,
        message,
        postedTime,
        icon
      });
    }
  }
};
</script>

<style>
.home {
  height: 100%;
}

.chat-panel {
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-input {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
}

.chat-input .textarea {
  resize: none;
}
</style>
