<template>
  <div id="app"><router-view /></div>
</template>

<style>
html,
body,
#app {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#app {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "MS Pゴシック",
    "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
