<template>
  <section>
    <div v-for="(log, index) in logs" :key="index" class="chat-log is-size-7">
      <div class="log-info">
        <span v-if="log.icon" style="margin-right: 5px;">{{ log.icon }}</span
        ><strong>{{ log.username }}</strong
        ><small style="margin-left: 5px;">{{ log.postedTime }}</small>
      </div>
      <div class="log-message">{{ log.message }}</div>
      <hr v-if="index !== logs.length - 1" class="log-divider" />
    </div>
  </section>
</template>

<script>
export default {
  name: "chatpanel",
  props: ["logs"]
};
</script>

<style scoped>
.log-info {
  margin-bottom: 0.2rem;
}

.log-divider {
  margin: 0.3rem 0;
}
</style>
